body {
    background-color: rgba(199, 198, 203, 0.57);
    font-family: Calibri
}

.navbar a {
    padding: 10px;
    font-weight: bold;
}

.carousel-item h1 {
    text-shadow: 1px 1px #000;
}

.carousel-item h3 {
    text-shadow: 1px 1px #000;
}

.carousel-item h5 {
    text-shadow: 1px 1px #000;
}

body {
    background-color: #f8ecec;
}

.jumbotron {
    background-color: blue;
}



.kanan {
    text-align: center;
    width: 50%;
    float: right;
    padding: 20px;
}

.blue a {
    background-color: #758DD4;
}

.green a {
    background-color: #7AC74C;
}

.red a {
    background-color: #C22E28;
}

.wrapper {
    background-color: #2c3e56;
    height: 900px;
}

.cetaktable td {
    border: 1px solid black;
    padding: 5px;
}

.cetaktable th {
    padding: 5px;
    border: 1px solid black;
}



.text-center {
    text-align: center;
    margin: auto;
}

#wrapper {
    width: 950px;
    height: auto;
    margin: auto;
}

#head {
    height: 150px;
    margin-bottom: 30px;
}

#logo {
    float: left;
}

#banner {
    text-align: center;

}

#f1 {
    font-size: 40px;
    color: blue;
    margin-bottom: -25px;
}

#f2 {
    font-size: 61px;
    color: red;
    margin-bottom: -25px;
}

#f3 {
    font-size: 15px;
    margin-bottom: -25px;
}

.kotak1 {
    width: 20%;
    height: auto;
    position: relative;
}

.kotak2 {
    width: 20%;
    height: auto;
}

.f4 {
    font-size: 25px;
    margin-bottom: 40px;
}

.garis hr {

    border-top: 5px solid #333;
}

.bingkai {
    width: 250px;
    border: 5px solid #333;
}

.about hr {
    width: 250px;
    border-top: 3px solid #999;
}

section {
    min-height: 700px;
}

.pkiri,
.pkanan {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1s;
}

.pkanan {
    transform: translate(50px, 0);
}

.pkiri.pmuncul,
.pkanan.pmuncul {
    opacity: 1;
    transform: translate(0, 0);
}

.ckiri,
.ctengah,
.ckanan {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1s;
}

.ckanan {
    transform: translate(50px, 0);
}

.ctengah {
    transform: translate(0px, 0);
}

.ckiri.cmuncul,
.ctengah.cmuncul,
.ckanan.cmuncul {
    opacity: 1;
    transform: translate(0, 0);
}

.cgambar .thumbnail {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.cgambar .thumbnail.muncul {
    opacity: 1;
    transform: translate(0.0);
}

.div-gallery-feed {
    margin-bottom: 50px;
}

.title-gallery-feed {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallery-feed img {
    padding: 10px;
    filter: gray;
    -webkit-filter: grayscale(0);
    margin-bottom: 30px;
    width: 100%;
    border: 5px solid #cdc1c5;
}

.gallery-feed img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.center {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.more-gallery-feed,
.read-more {
    color: #666;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 2px solid #666;
    width: 200px;
}

.more-gallery-feed:hover,
.read-more:hover {
    background-color: #666;
    color: #fff;
    border: 2px solid #000;
    text-decoration: none;
}

.light {
    font-weight: bold;
    color: #4a3232;
}

.bgc {
    background-color: lightblue;
    padding: 10px;
}

.box {
    min-height: 700px;

}

.bg-red {
    background-color: #45629e;
}

footer .jumbotron {
    margin-top: 150px;
    background-color: #333;
    color: #fff;
    border-radius: 0;
    margin-bottom: 0;
}

.artikel p {
    text-align: justify;
}

.tartikel {
    min-height: 1500px;
}
